.row{
    width: 100%;
}
.eve,.ann{
    width: 50%;
}
.scrolling-box {
    width: 500px;
    height: 250px;
    overflow: hidden;
    border: 1px solid black;
    padding-left: 10px;
}
.establishments{
    border: 1px solid black;
    width: 1400px;
    height: 500px;
}
